a {
    .link & {
        &,
        &:active,
        &:visited {
            color: #DEF;
            text-decoration: none;
            cursor: pointer;
        },
        &:hover {
            color: #FFF;
        }

    }       
}
