<div class="flex-container" fxLayout="column" fxLayoutAlign="space-around center">
        <div class="flex-item">
                <h1>Login to Your Account</h1>
        </div>
        <div class="flex-item">
                <button md-raised-button (click)="login()">
                        <md-icon class="material-icons md-48" style="width:48px; height:48px; font-size:48px" svgIcon="sign-in-with-google"></md-icon>
                        Sign in with Google
                </button>
        </div>
</div>
