.tasks-card {

}

.tasks-list {
    width: 100%;

    .flex-item {
        padding: 2px 0;
        border-bottom: 1px dotted #EEE;
    }
}

.task-create {

}

.task-text {
    font-size: 1.75em;
    padding-left: 5px;
}

